<html xmlns:th=" https://www.thymeleaf.org">
	
	<body>
	<p>Please enter a new task for the test: <strong th:text="${test?.testTitle}"></strong> </p>
	<form th:action="@{/testTask/crud/add/{testId}(testId=${fixedId != null ? fixedId : test.testId})}"
	      th:object="${testTask}"
	      method="post"
		  onsubmit="return validateForm()">
		  <input type="hidden" name="testId" th:value="${fixedId != null ? fixedId : test.testId}"/>

			<table>
				
				<tr>
					<td>Description: </td>
					<td><input type="text" th:field="*{taskDescription}">
					<div id="descError" style="color:red; display:none;"> Please enter a description!</div>
					<div th:if="${#fields.hasErrors('taskDescription')}" th:errors="*{taskDescription}" style="color:red"></div>
					
				</td>
										
				</tr>
				<tr>
					<td>MaxPoints: </td>
					<td><input type="text" th:field="*{maxPoints}">
						<div th:if="${#fields.hasErrors('maxPoints')}" th:errors="*{maxPoints}" style="color:red"></div>
									
					    <div id="pointsError" style="color:red; display:none;">
					        Please enter max points!
					    </div>
					</td>

				</tr>
				<tr>
					<td>Notes: </td>
					<td><input type="text" th:field="*{taskNotes}">
						<div th:if="${#fields.hasErrors('taskNotes')}" th:errors="*{taskNotes}" style="color:red"></div>
						
					</td>

				</tr>
				
				
				<tr>
					<td><input type="submit" name="Save"></td> 
					
				</tr>
				
				
			</table>
		</form>
		<script>
		function validateForm() {
		    let valid = true;

		    const desc = document.getElementById("taskDescription");
		    const points = document.getElementById("maxPoints");


		    // Description validācija
		    if (!desc.value.trim() || desc.value.trim().length < 5) {
		        document.getElementById("descError").style.display = "block";
		        valid = false;
		    } else {
		        document.getElementById("descError").style.display = "none";
		    }

		    // Points validācija
		    if (points <= 0) {
		        document.getElementById("pointsError").style.display = "block";
		        valid = false;
		    } else {
		        document.getElementById("pointsError").style.display = "none";
		    }

		   

		    return valid; // ja false -> forma netiks nosūtīta
		}
		</script>
	</body>

</html>