<html xmlns:th="https://www.thymeleaf.org">
	
	<body>
	<p>Please enter a new course: </p>
		<form action="#" th:action="@{/courses/crud/add}" th:object="${courses}" method="post">
			<table>
				<tr>
					<td>Title: </td>
					<td><input type="text" th:field="*{courseTitle}"></td>
					<td th:if="${#fields.hasErrors('courseTitle')}" th:errors="*{courseTitle}"></td>
				</tr>
					<tr></tr>
					<td>Credits: </td>
					<td><input type="text" th:field="*{credits}"></td>
					<td th:if="${#fields.hasErrors('credits')}" th:errors="*{credits}"></td>
										
				</tr>
				
				<tr>
					<td><input type="submit" name="Save"></td>
				</tr>
				
				
			</table>
		</form>
		
	</body>

</html>