<html xmlns:th="https://www.thymeleaf.org">
	
	<body>
	<p>Please enter a new student: </p>
		<form action="#" th:action="@{/students/crud/add}" th:object="${students}" method="post">
			<table>
				<tr>
					<td>Name: </td>
					<td><input type="text" th:field="*{studentName}"></td>
					<td th:if="${#fields.hasErrors('studentName')}" th:errors="*{studentName}"></td>
				</tr>
					<tr></tr>
					<td>Surname: </td>
					<td><input type="text" th:field="*{studentSurname}"></td>
					<td th:if="${#fields.hasErrors('studentSurname')}" th:errors="*{studentSurname}"></td>
										
				</tr>
					<tr>
					<td>MatriculationNr: </td>
					<td><input type="text" th:field="*{matriculationNr}"></td>
					<td th:if="${#fields.hasErrors('matriculationNr')}" th:errors="*{matriculationNr}"></td>
										
				</tr>
				<tr>
					<td>Email: </td>
					<td><input type="email" th:field="*{email}"></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
													
				</tr>
				
				<tr>
					<td><input type="submit" name="Save"></td>
				</tr>
				
				
			</table>
		</form>
		
	</body>

</html>