<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>

<p>Update the information about the student::</p>

<form action="#" th:action="@{/students/crud/update/{id}(id=${student.studentId})}"
      th:object="${student}"
      method="post">

    <input type="hidden" th:field="*{studentId}"/>

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{studentName}"/></td>
            <td th:if="${#fields.hasErrors('studentName')}"
                th:errors="*{studentName}"></td>
        </tr>

        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{studentSurname}"/></td>
            <td th:if="${#fields.hasErrors('studentSurname')}"
                th:errors="*{studentSurname}"></td>
        </tr>

        <tr>
            <td>Matriculation Nr:</td>
            <td><input type="text" th:field="*{matriculationNr}"/></td>
            <td th:if="${#fields.hasErrors('matriculationNr')}"
                th:errors="*{matriculationNr}"></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"></td>
        </tr>

        <tr>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>

</form>

</body>
</html>
