<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>

<p>Update the information about the program:</p>

<form action="#" th:action="@{/programs/crud/update/{id}(id=${program.programId})}"
      th:object="${program}"
      method="post">

    <input type="hidden" th:field="*{programId}"/>

    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{programTitle}"/></td>
            <td th:if="${#fields.hasErrors('programTitle')}"
                th:errors="*{programTitle}"></td>
        </tr>

        <tr>
            <td>Degree:</td>
            <td><input type="text" th:field="*{programDegree}"/></td>
            <td th:if="${#fields.hasErrors('programDegree')}"
                th:errors="*{programDegree}"></td>
        </tr>

        <tr>
            <td>Abbreviation:</td>
            <td><input type="text" th:field="*{abbreviation}"/></td>
            <td th:if="${#fields.hasErrors('abbreviation')}"
                th:errors="*{abbreviation}"></td>
        </tr>


        <tr>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>

</form>

</body>
</html>
